body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  max-width: 38rem;
  padding: 2rem;
  height: 100%;
}

.right {
  position: absolute;
  left: 41%;
  width: 59%;
  height: 100%;
  top: 0%;
  background-color: #263238;
}

.left {
  position: absolute;
  left: 0%;
  width: 41%;
  height: 100%;
  top: 0%;
  background-color: #32424A;
}

.logo {
  position: absolute;
  left: 39%;
  bottom: 80%;
  width: 20%;
  height: auto;
  margin: auto;
}

.title {
  color: white;
  font-family: 'Roboto', sans-serif;
  position: absolute;
  bottom: 70%;
  left: 33%;
  text-align: center;
}

.btngroup {
  border: none;
  outline: none;
  background: inherit;
  color: white;
  display: block;
  padding: 2%;
  
}

.btngroup2 {
  padding-top: 40%;
}

/* On mouse-over */
.btngroup:hover {color: darkcyan;}